/* reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* reset  */

body {
    font-family: Montserrat;
}

/* common */
.col {
    float: left;
}

.grey-text {
    color: #8e8e8e;
}
/* end of common */

.wrapper {
    width: 80%;
    margin: 20px auto;
}

/* header  */
header {
    width: 100%;
    margin-bottom: 20px;
}

.logo {
    width: 150px;
}

/* navbar */
.navbar {
    margin-top: 20px;
}


li {
    padding: 5px;
    list-style-type: none;
    display: inline-block;
}

li a {
    text-transform: uppercase;
    text-decoration: none;
}
/* end of navbar */

/* end of header  */

/* banner  */
.banner {
    width: 100%;
    height: 400px;
    margin-bottom: 20px;
    background-image: url(../img/banner.jpg);
    background-position: center;
    border-radius: 10px;
    position: relative;
}

.layover {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.banner-text {
    width: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    padding: 45px;
}

/* end of banner  */

/* main  */
main {
    width: 100%;
    margin-bottom: 20px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* main title  */
.main-title {
    width: 100%;
}
/* end of main title  */

/* col-left  */
.col-left {
    width: 20%;
    margin: 20px auto;
}

.col-left-image {
    width: 100%;
    height: 200px;
    background-image: url(../img/img-1.jpg);
    background-size: cover;
}
/* end of col-left  */

/* col-center  */
.col-center {
    width: 58%;
    /* height: 390px; */
    margin-top: 20px;
    margin-left: 1%;
    margin-right: 1%;
}

.col-center-image {
    width: 100%;
    height: 200px;
    background-image: url(../img/banner-2.jpg);
    background-size: cover;
    background-position: center;
}
/* end of col-center  */

/* col-right  */
.col-right {
    width: 20%;
    height: 390px;
    margin: 20px auto;
}

.col-right-image {
    width: 100%;
    height: 200px;
    background-image: url(../img/img-3.jpg);
    background-size: cover;
    background-position: center;
}
/* end of col-right  */

/* end of main  */

/* footer  */
footer {
    width: 100%;
    text-align: center;
}

/* end of footer  */